/*
    keep this for utility classes and variables
*/

@import 'colors';
@import 'lib/bootstrap.min.css';

html, body, #app {
    background: $dark;
}

body {
    height: 100vh;
}

#app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.minion-list {
    background: darken($dark, 10%);
}